<!DOCTYPE html>
<html>
    <head>
        
        {% block stylesheets %}
       <meta charset="UTF-8" name="viewport" content="width=device-width, minimum-scale=1.0" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
         <link rel="stylesheet" href="{{ asset('css/button.css') }}">
           
    

        {% endblock %}
  
    </head>
    <body>
                  <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light active" id="pb-navbar">

         <div class="container">
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
            <ul class="navbar-nav active">
            
            <li class="nav-item"><a class="nav-link" href="{{path('onePage')}}">Accueil </a></li>
            <li class="nav-item"> <a class="nav-link" href="index.php?navigation=apropos" >Mon CV</a></li>
    
            <li class="nav-item"><a class="nav-link" href="{{ path('indexRegister') }}" >Inscription </a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}" >Connexion </a>  </li>
            <li class="nav-item"><a class="nav-link" href="{{ path('chat') }}" >Chat </a>  </li>
          
           
            
            </ul>
        </div>
</div>

</nav>
 <section class="grandediv white" style="background-image: url(images/photography-of-night-sky-733475.jpg);height : 1000px;padding-top:200px;" data-stellar-background-ratio="0.5">
        {% block body %}

        
        
        {% endblock %}
        </section>
        {% block javascripts %}
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

            <script src="{{asset('css/vendor/jquery.min.js') }}"></script>
    
        <script src="{{ asset('css/vendor/popper.min.js')}}"></script>
        <script src="{{ asset('ss/vendor/bootstrap.min.js')}}"></script>
        
        <script src="{{ asset('css/vendor/jquery.easing.1.3.js')}}"></script>
        <script src="{{ asset('css/vendor/jquery.stellar.min.js')}}"></script>
        <script src="{{ asset('css/vendor/jquery.waypoints.min.js')}}"></script>
        <script src="{{ asset('css/vendor/custom.js')}}"></script>
        {% endblock %}
    </body>
</html>
